<% provide :name, @user.fullname %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.fullname %>
        <%= @user.documents.size %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @documents.any? %>
      <%= t(".documents_html", count: @documents.size) %>
      <ol class="documents">
        <%= render @documents %>
      </ol>
      <%= will_paginate @documents %>
    <% end %>
  </div>
</div>
