<li id="document-<%= document.id %>">
  <% if document.doc.previewable? %>
    <%= link_to(image_tag(document.doc.preview(resize: "200x200>")), document) %>
  <% end %>
  <span class="name"><%= document.name %></span>
  <% if document.doc.content_type == Settings.pdf_type %>
    <span class="view"><%= link_to t("view"), document %></span>
  <% end %>
  <span class="download">
    <%= link_to t("download"), download_path(:id => document.id), target: "_blank" %>
  </span>
  <span class="timestamp">
    <%= link_to t("document.delete"), "#", method: :delete,
      data: {confirm: t("document.cfm")} if current_user?(document.user) %>
  </span>
</li>
