<li id="document-<%= document.id %>">
  <div class="row">
    <div class="col-sm">
      <div class="file-left">
        <% if document.previewable? %>
          <%= link_to(image_tag(document.preview(resize: "100x100>")), document) %>
        <% end %>
      </div>
      <div class="file-right">
        <h2 class="name"><%= document.name %></h2>
        <div class="file-info">
          <% if document.content_type == Settings.pdf_type %>
            <span class="view">
              <%= link_to document do%>
                <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            </span>
          <% end %>
          <span class="download">
            <%= link_to download_path(id: document.id), target: "_blank" do %>
              <i class="fa fa-download" aria-hidden="true"></i>
            <% end %>
          </span>
          <%= render "shared/favorite_form", doc: document %>
          <span class="author">
            <%= link_to document.user do %>
              <%= t "author", name: document.user_fullname %>
            <% end %>
          </span>
          <span class="status">
            <%= t "status", status: document.status %>
          </span>
          <span class="download">
            <%= t "download_times", download: document.histories_size %>
          </span>
          <span class="timestamp">
            <% if current_user?(document.user) %>
              <%= link_to document, method: :delete, data: {confirm: t("cfm")} do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</li>
