<%= t "edit_category_html" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @category] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :parent_id %>
      <%= f.select :parent_id, select_categories, selected: @category.parent_id, include_blank: true %>

      <%= f.submit t("edit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
