<% t "list_categories_html" %>
<% if @categories.any? %>
  <%= search_form_for @search, url: [:admin, :categories], method: :get, class: "form-inline" do |f| %>
    <div class="form-group">
        <%= f.label :name_cont, t("category.name") %>
        <%= f.text_field :name_cont, class: "form-control" %><br>
    </div>
    <div class="form-group">
        <%= f.label :user_cont, t("category.created_by") %>
        <%= f.text_field :user_cont, class: "form-control" %><br>
    </div>
    <div class="form-group">
      <%= f.submit t("search"), class: "btn btn-default" %>
    </div>
  <% end %>
  <table class="table">
    <tr>
      <th><%= t "category.name" %></th>
      <th><%= t "category.created_by" %></th>
      <th><%= t "category.parent_name" %></th>
    </tr>
    <% @categories.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.user_fullname %></td>
        <td>
          <% if f.category %>
            <%= f.category.name %>
          <% end %>
        </td>
        <td><%= link_to t("edit"), [:edit, :admin, f] %></td>
        <td><%= link_to t("delete"), [:admin, f], data: {confirm: t("cfm")} %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @categories %>
<% end %>
